@page
@model MyVideoGameUI.Pages.Consoles.EditConsoleModel
@{
    ViewData["Title"] = "Edit Console";
}

<script type="text/javascript">
    function = validateInput(){
        var isValid = true;
        var consoleName = document.getElementById("inputConsoleName");
        if (consoleName.value == "") {
            isValid = false;
            document.getElementById("consoleNameError").innerHTML = "This field is required.";
        }
        return isValid;
    }
    
</script>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class=" = " row mb-3">
        <label for="inputConsoleName" class="col-sm-2 col-form-label" asp-for="ExistingConsole.ConsoleName"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputConsoleName" asp-for="ExistingConsole.ConsoleName" />
            <span asp-validation-for="ExistingConsole.ConsoleName" class="text-danger" id ="consoleNameError"></span>
        </div>
    </div>

    <div class=" = " row mb-3">
        <label for="inputConsoleImageURL" class="col-sm-2 col-form-label" asp-for="ExistingConsole.ConsoleImageURL"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputConsoleImageURL" asp-for="ExistingConsole.ConsoleImageURL" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary" onclick="return validateInput()">Edit Console</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>

