@page
@model MyVideoGameUI.Pages.Languages.IndexModel
@{
    ViewData["Title"] = "Language List";
}


<div class="container">
    <div class="row mb-3">
        <div class="col-sm-3">
            <h2 class="text-primary">Language List</h2>
        </div>
        <div class="col-sm-9">
            <a asp-page="AddLanguage" class="btn btn-primary">Add Language</a>
        </div>
    </div>
    <div class="row mb-3 border border-primary">
        <div class="col-sm-3 text-primary">Language ID</div>
        <div class="col-sm-9 text-primary">Language Name</div>
        @foreach (var obj in Model.Languages)
        {
                <div class="col-sm-3">
                    <label class="form-text">@obj.LanguageId</label>
                </div>
                <div class="col-sm-9">
                    <label class="form-text">@obj.LanguageName</label>
                    <form method="post">
                            <button type="submit" asp-route-id="@obj.LanguageId" class="btn btn-danger" style="float: right"
                                onclick="return confirm('Are you sure you want to delete this?')">
                                <i class="bi bi-archive-fill"></i>Delete Language
                            </button>
                     </form>
                </div>
        }
    </div>
</div>
